.vscode/
.vs/
build/
tools/StateMachineGenerator/*.c
tools/StateMachineGenerator/*.h
tools/template_generator/*.c
tools/template_generator/*.h
tools/template_generator/CMakeLists.txt
doxygen/
tools/template_generator/__pycache__/
Testing/